<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MobileOptimized" content="320">
    <title>能源管理系统</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/style-metronic.css" rel="stylesheet"
          type="text/css" />
    <link href="/Assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/style-responsive.css" rel="stylesheet"
          type="text/css" />
    <link href="/Assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/pages/tasks.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/themes/default.css" rel="stylesheet"
          type="text/css" id="style_color" />
    <link href="~/Assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/app/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/plugins/bootstrap-treeview/css/bootstrap-treeview.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/fontawesome-4.2.0_ie7/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap-table/bootstrap-table.min.css" />
    <link rel="shortcut icon" href="/app/img/logo.ico" />
    <link href="~/Assets/plugins/jquery-busyLoading/dist/app.min.css" rel="stylesheet" type="text/css"/>

    <link href="~/Assets/plugins/jqx/css/jqx.base.css" rel="stylesheet" type="text/css"/>
    <link href="~/Assets/plugins/jqueryPagination/jquery.pagination.css" rel="stylesheet" type="text/css"/>

</head>
<body class="page-header-fixed page-sidebar-fixed page-footer-fixed">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
    <script src="/Assets/plugins/jquery-migrate-1.2.1.min.js"
            type="text/javascript"></script>
    @*<script src="/Assets/plugins/bootstrap/js/bootstrap.min.js"
            type="text/javascript"></script>*@
    <script src="~/Scripts/bootstrap.min.js"
            type="text/javascript"></script>
    <script src="/Assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
            type="text/javascript"></script>
    <script src="/Assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="/Assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/app/js/index.js" type="text/javascript"></script>
    <script src="/Assets/scripts/app.js" type="text/javascript"></script>
    <script src="/Assets/plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/Assets/plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/Assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-table/bootstrap-table-sticky-header.min.js"></script>
    <script src="/Assets/plugins/echarts3/echarts.min.js"></script>
    <script src="/Assets/plugins/echarts3/macarons.js"></script>
    <script src="/Assets/plugins/echarts3/shine.js"></script>
    <!-- <script type="text/javascript" src="assets/plugins/echarts/build/source/echarts.js"></script> -->
    <script src="/Assets/plugins/tableExport/tableExport.js"></script>
    <script src="/Assets/plugins/tableExport/jquery.base64.js"></script>
    <script src="/Assets/plugins/bootstrap-treeview/js/bootstrap-treeview.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/loadash/lodash.core.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jquery-busyLoading/dist/app.min.js" type="text/javascript"></script>
    <script src="~/app/js/tools.js" type="text/javascript"></script>

    <script src="/Assets/plugins/jqx/js/jqxcore.js"></script>
    <script src="/Assets/plugins/jqx/js/jqxdata.js"></script>
    <script src="/Assets/plugins/jqx/js/jqxbuttons.js"></script>
    <script src="/Assets/plugins/jqx/js/jqxmenu.js"></script>
    <script src="/Assets/plugins/jqx/js/jqxpivot.js"></script>
    <script src="/Assets/plugins/jqx/js/jqxpivotgrid.js"></script>
    <script src="/Assets/plugins/jqx/js/jqxscrollbar.js"></script>

    <script src="/Assets/scripts/bootstrap-pagination.min.js" type="text/javascript"></script>
    <script src="/Assets/plugins/jqueryPagination/jquery.pagination.min.js"></script>
    @RenderPage("~/Views/Shared/_Header.cshtml")
    <div class="clearfix"></div>

    <div class="page-container">
        @RenderPage("~/Views/Shared/_Menu.cshtml")
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <div class="row">
                    <div id="main-content">
                        @RenderBody()
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer" align="center">
        <div class="footer-inner">@DateTime.Now.Year &copy;Acrel</div>
        <div class="footer-tools">
            <span class="go-top" id="ImgClick" data-toggle="modal"><img id="AlarmImgID" src="/Assets/img/jing.png"/></span>
        </div>
    </div>


    <div class="modal fade bs-example-modal-sm" id="myModalAlarm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background:#ffffff">
            <button type="button" class="close" style="color:black" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <h5 class="modal-title" id="myModalLabel">事件</h5> -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active" data-id="tabContent1"><a href="#">参数越限</a></li>
                <li role="presentation" data-id="tabContent2"><a href="#">仪表断线</a></li>
            </ul>
          </div>
          <div class="modal-body" style="height:520px">
            <div class="tabs-contents">
                <div class="tab-content active" id="tabContent1" style="height:455px">111</div>
                <!-- 标题2内容区域 -->
                <div class="tab-content" id="tabContent2">222</div>
            </div>
                <!-- <div id="pagination"></div> -->
                <nav style="float:left">
                    <ul id="pagination" class="pagination margin-top-10 margin-bottom-10 "></ul>
                </nav>
                <button type="button" id="OkAll" class="btn btn-info" style="float:left;margin-left:0%;margin-top:10px">全部确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>

<script src="~/app/js/Alarm/OverlimitAlarm.js"></script>

<style>
    .tab-content{
        display: none;
    }
    .tab-content.active{
        display: block;
    }
</style>